.review {
  color: whitesmoke;
  padding: 0 70px;
  margin-bottom: 60px;
  .review_title {
    font-size: 18px;
  }
  .review_content {
    display: flex;
    img {
        width: 300px;
        height: 300px;
    }
    .content_right {
      .review_desc {
        width: 960px;
        height: 130px;
        margin-left: 50px;
        overflow: scroll;
      }
      .right_low {
        height: 170px;
        width: 960px;
        margin-left: 50px;
        padding-top: 10px;
        display: flex;
        .review_link {
          height: 160px;
          width: 500px;
        }
        .comment {
          height: 160px;
          width: 500px;
          background-color: #666666;
          border-radius: 0.3rem;
          overflow: scroll;
        }
      }

    }
  }
}
.paginate {
  width: 350px;
  margin-left: 460px;
}