.review {
  color: whitesmoke;
  padding: 0 70px;
  margin-bottom: 60px;
  .review_content {
    display: flex;
    img {
        width: 300px;
        height: 300px;
    }
    .content_right {
      .review_desc {
        width: 960px;
        height: 150px;
        margin-left: 50px;
        overflow: scroll;
      }
      .review_link {
        height: 149px;
        width: 500px;
        margin-left: 50px;
        margin-top: 10px;
      }
    }

    
  }
}